/lib/impact/*
/lib/weltmeister/*
!/lib/weltmeister/config.js

/deploy/*
/bld/*
/bin/*
/tools/*
/lib/weltmeister.html
weltmeister.html

*.appxmanifest
*.jsproj
*.jsproj.user
*.sln
*.v11.suo
*.pfx
*.opensdf

/.idea/*
*.db
*.sdf
*.cache